# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore PHPStorm project directory.
.idea

# Ignore compass styles cache and other trash
sites/*/themes/*/.sass-cache
sites/*/themes/*/css/*

# Ignore httpd password file.
.htpasswd
