/**
 * frontpage notice
 */
.frontpage-important-info-block {
  width: 25%;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  bottom: -47px;
  right: 20px;
  line-height: 1.15;
  background-color: rgba(0,0,0,.45);
  padding: 15px;
}