/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
@import "mixins";

/* HTML element (SMACSS base) rules */
@import "../sass/normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "../sass/components/misc";
// Optionally, add your own components here.
@import "../sass/print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@import "dkan";
