/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/_normalize-rtl\.scss}line{font-family:\000039}}
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/_normalize-rtl\.scss}line{font-family:\0000316}}
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\0000386}}
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\0000388}}
  .sidebar-first #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\0000393}}
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003101}}
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003103}}
  .sidebar-second #content {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003108}}
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003116}}
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003118}}
  .two-sidebars #content {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003123}}
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003128}}
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003134}}
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003138}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003143}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003147}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003164}}
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003166}}
  .sidebar-first #content {
    float: right;
    width: 80%;
    margin-right: 20%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003171}}
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003179}}
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003181}}
  .sidebar-second #content {
    float: right;
    width: 80%;
    margin-right: 0%;
    margin-left: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003186}}
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }

  /**
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003194}}
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003196}}
  .two-sidebars #content {
    float: right;
    width: 60%;
    margin-right: 20%;
    margin-left: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003201}}
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 20%;
    margin-right: 0%;
    margin-left: -20%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/layouts\/_responsive\.scss}line{font-family:\00003206}}
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 20%;
    margin-right: 80%;
    margin-left: -100%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * RTL companion for the modular-styles.css file.
 */
/**
 * Branding header.
 */
/* Wrapping link for logo. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000311}}
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000316}}
.header__secondary-menu {
  float: left;
}

/**
 * Navigation bar.
 */
/* Main menu and secondary menu links and menu block links. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000327}}
#navigation .links,
#navigation .menu {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000330}}
#navigation .links li,
#navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * Messages.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000341}}
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * Tabs.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000358}}
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/**
 * Inline styles.
 */
/* List of links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000377}}
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000384}}
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * "More" links.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000391}}
.more-link {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000394}}
.more-help-link {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\0000397}}
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * Menus.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003105}}
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * Comments.
 */
/* Nested comments are indented. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003117}}
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * Forms.
 */
/* Drupal's default login form block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003127}}
#user-login-form {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003132}}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/*
 * Drupal admin tables.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003142}}
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003155}}
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/hammer\.dkan\.gosbook\.ru\/www\/sites\/default\/themes\/dkan\/sass\/components\/_misc-rtl\.scss}line{font-family:\00003160}}
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
