#block-block-12 {
    margin-bottom: 0;
    background: #2065b5;
    border-radius: 4px 4px 0 0;
}

#block-block-12 h2{
    text-transform: uppercase;
    background: url(../images/filter-ico.png) right center no-repeat;
    margin-right: 1em;
    border-bottom: none;
}

.region-sidebar-first .block-facetapi {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.region-sidebar-first .block-facetapi h2 {
    background: #104794;
    color: #2fceee;
    border-radius: 0;
    text-transform: uppercase;
    border-top: #406ca9 solid 1px;
    border-bottom: #406ca9 solid 1px;
    font-size: 16px;
    padding-left: 40px;
}

.region-sidebar-first .block-facetapi .item-list {
    background: #104794;
    font-family: 'PT Sans',Arial;
    font-size: 14px;
}

.region-sidebar-first .block-facetapi ul {
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 0.5em 0;
}

.region-sidebar-first .block-facetapi a {
    color: #2fceee;
}

.region-sidebar-first .block-facetapi a.facetapi-active {
    background: url("../images/checked-facet-uncheck.png") repeat scroll 0 0 transparent;
    color: transparent!important;
    display: inline-block;
    height: 30px;
    position: absolute;
    width: 30px;
}

.region-sidebar-first .block-facetapi .checked-facet {
    background: url("../images/checked-facet-bg.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    margin-left: -1em;
    padding: 0 1em;
    width: 100%;
}

.region-sidebar-first .facetapi-limit-link {
    display: inline-block;
    margin-bottom: 1em;
    padding-left: 18px;
}

#block-facetapi-leinn1ltwemgldyrar4a6leagqp4gndt {
    margin-bottom: 1.5em;
    color: #d288aa;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

#block-facetapi-leinn1ltwemgldyrar4a6leagqp4gndt h2 {
    color: #d288aa;
}

#block-facetapi-leinn1ltwemgldyrar4a6leagqp4gndt .item-list {
    border-radius: 0 0 4px 4px;
}

#block-facetapi-leinn1ltwemgldyrar4a6leagqp4gndt a {
    color: #d288aa;
}

.view-catalog-solr {
    background: #FFF;
    border-radius: 4px;
    padding: 1em 3em;
    margin-top: -260px;
}

.view-catalog-solr h1.title {
    color: #284EA6;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
}

.view-catalog-solr .count {
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 1em;
}

.view-catalog-solr .count .value {
    font-size: 30px;
}

.view-catalog-solr .views-row {
    padding: 0.5em 0;
    border-bottom: 1px solid #dedede;
}

.view-catalog-solr .views-field-field-opendata-meta-title {
    font-size: 15px;
}

.view-catalog-solr .views-field-field-opendata-meta-title a {
    color: #284EA6;
}

.view-catalog-solr .views-field-field-opendata-meta-field-odmeta-description {
    color: #A7AEB6;
    margin-bottom: 0.25em;
}

.view-catalog-solr .views-field-field-oddata-format {
    background: none repeat scroll 0 0 #6DBEB9;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 12px;
    padding: 0.15em 0.75em;
    text-transform: uppercase;
}

body.front #page-title {
  display: none;

}

#content-top {
  margin-top: 1.5em;
}

.participate-link {
  margin-left: 19px;

}

.page-taxonomy-term .view-header h2 {
  position: relative;

}

.page-taxonomy-term .view-header h2:after {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    opacity: 0.15;
    position: absolute;
    width: 100%;
}

.node-type-news #content-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    margin-top: -260px;
    padding: 10px 40px;
    
}

.node-type-news .field-name-field-news-body {
  font-size: 16px;
  padding: 0.5em 0;
}

.page-search #content-wrapper {
    margin-top: 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 40px;
}
