/**
 * style for site
 */
 
/**
 * tipografy
 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Y5yuUJGDLtmYv2_3fMB4fA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/isZ-wbCXNKAbnjo6_TwHTj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

* {
  @include box-sizing(border-box);
} 

html {
  height: 100%;
} 
body {
  background: #e5edf1 url("../images/bg-top.png") repeat-x 0 0;
  font-size: 13px;
  line-height: 1.4;  
  height: 100%;
  margin: 0;
  min-width: 960px;
  overflow-x: hidden;
  font-family: 'PT Sans', Arial;
  padding: 0; 
  color: #000;
}
html body.admin-menu {
  background-position: 50% 29px;
}
a,
a:focus {
  outline: none;
  text-decoration: none;
  color: #2950a7;
  @include transition(all 0.1s ease-in-out);
}
a:hover {
  color: #000;
  text-decoration: underline;
  @include transition(all 0 ease-in-out);
}
.button, .button:hover,
.form-submit {
  @include border-radius(3px);
  @include box-shadow(1px 1px 1px rgba(255,255,255, .5) inset);
  /* background-color: #53bce9; Old browsers */
  @include background-image(linear-gradient(#53bce9,#218fd5)); /* W3C */
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #22769c;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  padding: 0 13px;
  cursor: pointer;
  -webkit-appearance: none !important;
}
input.form-text,
.form-textarea,
select.form-select {
  @include border-radius(3px);
  border: 1px solid #999;
  @include box-shadow(0 1px 3px rgba(0,0,0, .25) inset);
  padding: 7px;
  color: #999;
  background-color: #f3f6f8;
  
  &:focus,
  &:active {
    color: #000;
    @include box-shadow(0 0 10px rgba(0,0,0, .25));
  }
}
.form-item {
  margin: 0 0 10px;
  font-family: 'PT Sans', Ariral;
  font-size: 14px;
}
.form-checkboxes, 
.form-radios {
  margin: 10px 0 0;
}
.form-checkboxes .form-item, 
.form-radios .form-item  {
  margin: 0 0 10px;
}
label {
  font-weight: normal;
}

/* @media (min-width: 960px) {
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 380px;
    margin-left: 0%;
    margin-right: -380px;
  }
  .sidebar-first #content {
    float: left;
    width: 100%;
    margin-left: 20%;
    margin-right: -100%;  
  }
} */

/**
 * title
 */
#page-title,
.fake-title {
  margin: 26px 0 10px;
  font-family: 'Roboto';
  font-size: 29px;
  font-weight: normal;  
  color: #284ea6;
}

/**
 * primary
 */
/* ul.tabs-primary {
  @include background-image(none);
  margin: 40px 0 15px 39px;
  padding-left: 0;
  
  li {
    margin: 0 20px 0 0;
    border: 0;
  
    a {
      
      text-decoration: none;
      font-size: 18px;
      line-height: 18px;
      margin-right: 20px; 
      @include background-image(none);    
      background: transparent;
      border: 0;
      padding: 0;
      letter-spacing: 0;
      margin: 0;
      font-weight: bold;        
      border-bottom: 1px dotted #BA3304;
      color: #BA3304;
      
      &:hover {
        color: #000;
        background: transparent;
      }
    }     
    &.active {
      a {
        color: #000;
        border: 0;
      }
    }
  } 
} */

#page {
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1600px; 
}

/**
 * header 
 */
#header {
  background: url("../images/bg.jpg") no-repeat 50% 0;
  height: 429px;
  position: relative;
}
.header--logo {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 50;
  
  img {
    padding-left: 20px;
    padding-top: 25px;
  }
}
#name-and-slogan {
  position: absolute;
  top: 45px;
  left: 118px;
  color: #fff;
  font-family: 'Roboto';
  text-transform: uppercase;
  z-index: 45;
  
  #site-name {
    font-size: 18px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
    
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  #site-slogan  {
    font-size: 10px;
  }
}


.region-header {
  clear: none;
  float: none;
  width: 100%;
  
  .block {
    margin: 0;
    
    &#block-menu-menu-secondary-menu {
      position: absolute;
      top: 0px;
      z-index: 48;
      right: 20px;
      height: 38px;
      line-height: 38px;
      border-bottom: 1px solid #8fcde9;
      
      ul {
        margin: 0; 
        padding: 0;
        
        li {
          list-style: none;
          float: left;
          margin: 0;
          padding: 0 40px 0 0;
          
          a {
            color: #fff;
            /* text-decoration: none; */
            font-size: 14px;
          } 
          &:last-child {
            padding-right: 0;
          }          
        }
      }
    }
    
    &#block-block-5 {
      position: absolute;
      z-index: 49;
      top: 0px;
      right: 20px;
      height: 38px;
      line-height: 38px;
      border-bottom: 1px solid #8fcde9;
      
      ul {
        margin: 0; 
        padding: 0 0 0 40px;
        
        li {
          list-style: none;
          float: left;
          margin: 0;
          padding: 0;
          color: #fff;
          
          a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
          } 
        }
      }    
    }
    
    &#block-search-api-page-site-search {
      position: absolute;
      z-index: 47;
      top: 88px;
      right: 255px;  
      left: 110px;
      
      #autocomplete {
        z-index: 10000 !important;
        border-color: #385eab;
        
        ul {
          
        }
        li {
          padding: 4px 8px;
          font-size: 15px;
          
          .autocomplete-user-input {
            text-decoration: underline;
          }
        }
      }
      
      form {
        @include border-radius(5px);
        background-color: #385eab;
        position: relative;
        padding: 10px;
        
        .form-item {
          display: block;
          margin: 0;
        }
        .form-text {
          @include border-radius(3px);
          @include box-shadow(none);
          background: #fff;
          width: 100%;
          display: block;
          border:0;
          padding: 13px 60px 13px 10px;
        }
        .form-submit {
          position: absolute;
          right: 25px;
          top: 50%;
          margin: -15px 0 0;
          padding: 0;
          border: 0;
          @include border-radius(0);
          @include box-shadow(none);
          @include background-image(none);
          background: url("../images/search-submit.png") no-repeat 0 0; /* */
          text-indent: -10000px;
          overflow: hidden;
          width: 31px;
          height: 31px;
        }
      }
    }   
    
    &#block-block-6 {
      position: absolute;
      z-index: 51;
      top: 103px;
      right: 20px;
      
      .social {
        margin: 0;
        padding: 0;
        
        li {
          list-style: none;
          padding: 0 0 0 12px;          
          margin: 0;
          float: left;
        }
      }
    }
    
    &#block-block-7 {
      position: absolute;
      z-index: 25;
      bottom: 25px;
      left: 25%;
      margin-left: 10px;
      right: 262px;
      color: #fff;
      text-shadow: 1px 1px 2px #235289;
      font-family: 'PT Sans';
      
      h2 {
        font-size: 18px;
        margin: 0 0 15px;
        font-weight: normal;
        text-transform: uppercase;
      }
      
      ul {
        margin: 0;
        padding: 0 0 0 35px;
        
        li {
          list-style: none;
          padding: 0 0 7px 23px;
          background: url("../images/li-header-white.png") no-repeat 0 8px;
          margin: 0;
        }
      }
    }    
    
    &.block-global-filter {
      float: right;
      padding-right: 40px;
      height: 53px;
      padding-left: 20px;
      border-left: 1px dotted #666;
      
      h2 {
        float: left;
        margin: 0 20px 0 0;
        padding-top: 11px;
        font-size: 16px;
        font-weight: normal;
        
        &:after {
          content: ':';
        }
      }
      form {
        float: left;
      }
      .form-item {
        margin: 0;
        padding-top: 12px;
        float: left;
      }  
      .select2-container .select2-choice {
        width: 175px;
        background-color: #FFFFFF;
        background-image: none;
        border: 0;
        
        span {
          line-height: 14px;
          padding-top: 8px;
          text-decoration: underline;
          color: #BA3304;
        }
        div {
          background: transparent;
          border-left: 0;  
        }
      }
      .select2-dropdown-open .select2-choice {
        background-color: #fff;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
        @include background-image(linear-gradient(#eeeeee, #ffffff));
        border: 1px solid #aaa;
        border-bottom: 0;
        @include border-radius(4px 4px 0 0);
      }       
    }
  }
}
.not-logged-in  .region-header .block#block-block-2 {
  right: 180px;
}

/**
 * left sidebar
 */
.region-sidebar-first {
  padding-top: 65px;
  
  .block {
    @include border-radius(4px);
    background-color: #fff;
    @include box-shadow(0 3px 5px rgba(0,0,0, .15));
    
    &.first {
      margin-top: -494px;
      padding-top: 165px;      
    }
    
    h2 {
      height: 50px;
      line-height: 50px;
      background-color: #2950a7;
      line-height: 50px;
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 18px; 
      font-weight: normal;
      padding-left: 22px;
      font-family: 'Roboto', Arial;
      border-bottom: 3px solid #20469b;
      @include border-radius(4px 4px 0 0);
      font-weight: normal;
    }    
  }
}
/* rubrics */
#block-views-rubrics-list-block {
  /* background-color: rgba(0,0,119, .3);
  background-image: url("../images/frame-header-gradient.png");
  background-repeat: repeat-x;
  background-position: 0 100%; */
  @include background-image(linear-gradient(#104794, #2065b5));
  @include border-radius(0 0 3px 3px);
  @include box-shadow(none);
  
  .view {
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 10px;
    
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      position: relative;
      border-bottom: 1px solid #4b81c1;
      list-style: none;
      padding: 0;
      
      a {
        display: block;
        padding: 14px 32px 14px 18px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        
        /* &:hover {
          background-color: #96af6d;
        } */
      }
      .rub-marker {
        position: absolute;
        right: 13px;
        top: 50%;
        margin-top: -5px;
        width: 14px;
        
        div {
          margin-bottom: 2px;
        }
      }
      /* */ &:hover .rub-marker div {
        background: #fff !important;
      }
    }
  }
}

/* filter catalog */
.block#block-block-12 {
  background: #104794;
  padding-left: 100px;
  padding-bottom: 10px;  
  
  h2 {
    margin-right: 10px;
    background-color: #2065b5;  
  }
}
.page-catalog .region-sidebar-first .block-facetapi {
  padding-left: 124px;
  background: #104794;
  padding-right: 6px;
  
  h2 {
    margin-left: 15px;
    padding-left: 5px;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    
    li {
      position: relative;
      margin: 4px 0;
      
      a {
        display: block;
        padding: 4px 0 4px 18px;
        line-height: 18px;
      }      
    }
    

  }
  .region-sidebar-first .facetapi-limit-link {
    margin-left: 18px;
  }
  .checked-facet {
    padding: 4px 10px 4px 18px; 
    margin: 0 0 0 0;
    display: block;
    width: auto;
    line-height: 18px;
    height: auto;
    background: #1a579d;
    @include box-shadow(0 1px 1px rgba(2,2,2, .2) inset);
  }
  .facetapi-active {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 23px;
    height: 100%;
    right: -18px;
    top: 0;
    background: url("../images/faset-active.png") no-repeat 100% 0;
    background-size: auto 100%;
    
    
    &:before {
      position: absolute;
      width: 12px;
      height: 12px;
      content: '';
      background: url("../images/icon-close.png") no-repeat 0 0;
      left: -2px;
      top: 50%;
      margin-top: -6px;
    }
  }
}
#block-facetapi-xzxwhzgxgows5ad16fxz1c8mne2k0yn1 li.last,
#block-facetapi-xzxwhzgxgows5ad16fxz1c8mne2k0yn1 ul {
  margin-bottom: 0;
}
#block-facetapi-xzxwhzgxgows5ad16fxz1c8mne2k0yn1 ul {
  padding-bottom: 12px;
}

/* view-app-store */
#block-views-app-store-block {
  
  h2 {
    background-color: #2950a7;
    border-color: #20469b;
  }
  .view {
    @include clearfix;
  }
  .view-filters {
    float: right;
    
    .views-exposed-widgets {
      margin: 0;
    }
    .views-exposed-widget {
      padding-top: 12px;
      padding-right: 12px;
      padding-bottom: 16px;
    }
    .select2-container {
      width: 140px;
      
      .select2-choice {

        div {
          background: transparent;
          border-left: 0;  
        }
      }      
      .select2-search {
        display: none;
      }
    }
    .ajax-progress {
      display: none;
    }
  }
  .view-content {
    padding: 0 17px 16px;
    @include clearfix;
    clear: both;
    
    .views-row {
      float: left;
      width: 33.33%;
      padding: 0 0 15px;
      font-family: 'PT Sans', Arial;
      color: #26282b;
      
      .views-field {
        padding: 0 5px;
          
        &.views-field-field-app-image img {
          @include border-radius(3px);
          border: 3px solid #ebebeb;
          width: 100%;
          display: block;
        }
        &.views-field-title {
          font-size: 14px;
        }
        &.views-field-field-rubric-app {
          font-size: 12px;
          font-style: italic;
        }
        
      }
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}
/* facebook */
#block-block-3 .fb_iframe_widget {
  margin: 7px 12px 12px;
  text-align: center;
}
#facebook-social-plugin {
  text-align: center;
}


/* phone */
#block-block-9 {
  font-family: 'PT Sans', Arial;
  padding-bottom: 10px;
  
  h2 {
    background-color: #4790c8;
    border-color: #377eb9;
    margin-bottom: 8px;
    background-image: url("../images/h2-phone.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }
  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #26282b;
    padding: 0 22px;
  }
}
/* order */
#block-block-13 {
  font-family: 'PT Sans', Arial;
  padding-bottom: 10px;
  
  h2 {
    background-color: #96af6d;
    border-color: #749965;
    margin-bottom: 8px;
    background-image: url("../images/ico-50x50.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 50px;
  }
  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #26282b;
    padding: 0 22px;
  }
  .center {
    text-align: center;
  }
  a.askopendata {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    @include border-radius(3px);
    background: #f4f7f9;
    padding: 0 14px;
    display: inline-block;  
    @include box-shadow(1px 1px 1px rgba(255,255,255, .5) inset);
    background-color: #53bce9; /* Old browsers */
    @include background-image(linear-gradient(#53bce9,#218fd5)); /* W3C */
    border: 1px solid #22769c;
    color: #FFFFFF;
    display: block;
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;  
    position: relative;  
    margin-top: 12px;
    margin-bottom: 7px;
  }
}
/* term of use */
#block-block-15 {

}
.terms-of-use {
  ol {
    padding: 0 22px 0 37px;
    margin-bottom: 0;
    
    > li {
      padding-bottom: 27px;
      text-align: justify;
    }
  }
  ul {
    padding-left: 10px;
    
    li {
      padding-top: 10px;
      list-style: none;
    }        
  } 
}

/* license */
#block-block-16 {
  padding-bottom: 13px;
  
  h2 {
    background-color: #4790c8;
    border-color: #377eb9;
    margin-bottom: 8px;
    background-image: url("../images/ico-50x50.png");
    background-position: 100% -250px;
    background-repeat: no-repeat;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #26282b;
    padding: 0 22px;
    text-align: justify;
  }  
}

/**
 * navigation 
 */
#navigation {
  top: -53px;
  left: 109px; 
  padding-left: 0;
  width: auto;
  
  ul.links {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      
      a {
        float: left;
        background-image: url("../images/nav-arrow.png");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        color: #BA3304;
        font-family: 'Philosopher';
        display: block;
        float: left;
        font-size: 16px;
        font-weight: bold;
        height: 53px;
        line-height: 53px;
        padding: 0 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: none;
        -moz-transition: all 0.2s linear 0s;
        -webkit-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;        
      }
      a.active,
      a:hover {
        color: #000;
      }
      &.active-trail a {
        color: #000;
      }
      &.last a {
        padding-right: 0;
        background: transparent;
      }
      &.first a {
        padding-left: 0;
      }
    }
  }
}

/**
 * #main
 */
#main {
  padding: 0;
  position: relative;
  padding-bottom: 104px;
} 

/**
 * frontpage
 */
#block-block-8 {
  
  .stat {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    background: url("../images/data-count-bg.png") repeat-x 0 0;
    height: 168px;
    color: #fff;
    @include border-radius(3px);
    
    li {
      display: table-cell;
      width: 25%;
      vertical-align: top;
      padding: 14px 0;
      background: url("../images/data-count-delimeter.png") no-repeat 100% 100%;
      text-shadow: 1px 1px 2px #235289;
      
      div {
        padding: 0 19px;
      }
      a {
        color: #fff;
        /* text-decoration: none; */
      }
      .caption {
        font-family: 'PT Sans';
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 7px;
        text-transform: uppercase;
      }
      .value {
        font-family: 'Roboto';
        font-size: 60px;
        line-height: 50px;        
      }
      &.odd {
        vertical-align: bottom;
      }
      &:last-child {
        background: transparent;
      }
    }
  }
}

/**
 * taxonomy
 */
#block-views-tag-cloud-block {
  width: 100%; 
  height: 300px;
}
.page-taxonomy-term {
  
  /* #content-wrapper {
    background: #FFF;
    @include border-radius(4px);
    padding: 1em 3em 2em;   
    position: relative;
  } */
  .pane-taxonomy-term-field-rubric-image {
    color: #fff;
    @include border-radius(3px);
    padding: 13px 13px 16px;
    /* background-color: #9fc6e7;
    border-bottom: 3px solid #7badd6; */
    position: relative;
    margin-bottom: 20px;
    
    &:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      left: 0;
      background: #000;
      @include opacity(.15);
      content: '';
    }
    
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
  #content-wrapper {
    .rubric-content {
      margin: 0 -10px;
    }
    .pane-views-panes {
      float: left;
      width: 33.333%;      

      .pane-content > .view {
        @include border-radius(4px);
        margin: 0 10px;
        background-color: #fff;
        @include clearfix;
        @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
        
        .views-field-title {
          margin: 0;
          font-size: 16px;
          line-height: 20px;
          font-weight: normal;
          max-height: 60px;
          overflow: hidden;
          
          a {
            color: #000;
          }
        }
        .views-field-created {
          font-size: 12px;
          color: #87919b;
          padding-top: 3px;
        }
        .views-row {
          height: 105px;
          vertical-align: middle;
          @include background-image(linear-gradient(#f3f6f8, #fff));
          padding: 12px 23px;

          &:last-child {
            @include border-radius(0 0 4px 4px);
          }
        }        
        &.taxonomy-app {
          h2 {
            background-position: 100% -549px;
          }
          .view-content {
            padding: 12px 23px;
            @include clearfix;
            clear: both;
            
            .views-row {
              float: left;
              width: 33.33%;
              padding: 0 0 15px;
              color: #26282b;
              height: auto;
              @include background-image(none);
              
              .views-field {
                padding: 0 5px;
                  
                &.views-field-field-app-image img {
                  @include border-radius(3px);
                  border: 3px solid #ebebeb;
                  width: 100%;
                  display: block;
                  margin-bottom: 5px;
                }
                
              }
              &:nth-child(3n+1) {
                clear: both;
              }
            }
          }          
        }
        &.taxonomy-opendata {
          h2 {
            background-position: 100% -447px;
          }
        }
        &.taxonomy-news {
          h2 {
            background-position: 100% -499px;
          }
        }
      }
      
      h2.pane-title {
        display: none;
      }
      h2 {
        height: 52px;
        line-height: 52px;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 18px; 
        font-weight: normal;
        padding-left: 22px;
        background-color: #9fc6e7;
        border-bottom: 3px solid #7badd6;        
        background-image: url("../images/ico-50x50.png");
        background-position: 100% 0;
        background-repeat: no-repeat;
       
        a {
          color: #fff;
        }
      }      
    }    
  }

}


#block-views-stat-block {
  
  .view-stat {
    margin: 0;
    padding: 0;
    background: url("../images/data-count-bg.png") repeat-x 0 0;
    height: 168px;
    color: #fff;
    @include border-radius(3px);
    
    > .view-content{
      float: left;
      width: 25%;
    }
    > .attachment-after {
      float: left;
      width: 75%;   
        
      .view {
        float: left;
        width: 33.333%;
        
        > .view-content {
          float: none;
          width: 100%;          
        }
        
        .inside {
          margin: 0;
        }
        &:last-child  .views-row {
          background: transparent;
          padding-top: 58px;
        }
        &:first-child  .views-row {
          padding-top: 68px;
        }        
      }  
    }
    .views-row {
      height: 168px;
      vertical-align: top;
      padding: 14px 18px;
      background: url("../images/data-count-delimeter.png") no-repeat 100% 100%;
      text-shadow: 1px 1px 2px #235289;
      
      .panel-panel {
        float: none;
        width: auto;
      }
      a {
        color: #fff;
        /* text-decoration: none; */
      }
      .caption {
        font-family: 'PT Sans';
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 7px;
        text-transform: uppercase;
      }
      .value {
        font-family: 'Roboto';
        font-size: 60px;
        line-height: 50px;        
      }
      .participate-link  {
        margin: 0;
        padding: 11px 17px;
        @include border-radius(3px);
        border: 1px solid #71afd9;
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
      }
      &.odd {
        vertical-align: bottom;
      }
    }
  }
}
.view-news {
  margin: 0 -10px;
  
  .news-rubric {
    float: left;
    width: 33.33%;
    margin-bottom: 20px;
    font-family: 'PT Sans';
    
    &:nth-child(3n+1){
      clear: both;
    }
    .vocabulary-rubrics {
      @include border-radius(4px);
      margin: 0 10px;
      @include clearfix;
    }
    .news-title-background div {
      height: 52px !important;
      width: 100% !important;
      @include border-radius(4px 4px 0 0);
    }
    h2 {
      height: 52px;
      line-height: 52px;
      margin: -52px 0 0;
      padding: 0;
      color: #fff;
      font-size: 18px; 
      font-weight: normal;
      padding-left: 22px;
      
      a {
        color: #fff;
      }
    }
    img {
      max-width: 100%;
    }
    h3 {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      max-height: 60px;
      overflow: hidden;
    }
    .news-publish-date {
      font-size: 12px;
      color: #87919b;
      padding-top: 3px;
    }
    .news {
      height: 105px;
      width: 100%;
      display: table;
      
      .node {
        display: table-cell;
        vertical-align: middle;
        @include background-image(linear-gradient(#f3f6f8, #fff));
        padding: 12px 23px;
        
        &:last-child {
          @include border-radius(0 0 4px 4px);
        }
      }
    }
  }
}

/**
 * askopendata
 */
.section-askopendata h1#page-title {
  display: none;
}
.entitytype-opendata_query-form {
  background: #FFF;
  @include border-radius(4px);
  padding: 1em 3em 2em;
  margin-top: -264px;
  
  h3,
  label[for='edit-field-od-query-data-trouble-und']   {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 30px 0 9px;
    margin: 10px 0 20px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-family: 'Roboto', Arial;
    clear: both;
    
    &:first-child {
      border-top: 0;
    }
  }
  
  label[for='edit-field-od-query-type-und']{
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;   
    padding-bottom: 20px;  
    font-family: 'Roboto', Arial;
    padding-top: 10px;
  }

  .form-text,
  .form-textarea  {
    width: 100%;
  }
  .form-item-field-od-query-data-rubrics-und {
    .form-type-checkbox {
      float: left;
      width: 33%;
      
      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }
  label[for='edit-field-od-query-data-trbl-reason-und'],
  label[for='edit-field-od-query-data-trbl-other-und-0-value'],
  label[for='edit-field-od-query-data-use-und'],
  label[for='edit-field-od-query-data-profit-und-0-value'],
  label[for='edit-field-od-query-data-benefits-und-0-value'] {
    padding-top: 15px;
  }
  label[for='edit-field-od-query-data-trbl-reason-und-none'],
  #edit-field-od-query-data-trbl-reason-und-none {
    display: none;
  }  
  #field-od-query-mark-next-add-more-wrapper p {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }
  .form-actions {
    padding-top: 25px;
    margin-top: 15px;
    border-top: 1px solid #dedede;
    text-align: right;
    
    .form-submit:last-child {
      margin-right: 0;
    }
  }
}

 
/**
 * Page participate
 */
#participate {
  margin: 0 -10px;
  
  .panels-flexible-region {
    width: 100%;
    
    .panel-pane {
      float: left;
      width: 33%;
      
      .view {
        margin: 0 10px 20px;
        @include border-radius(3px);
        @include box-shadow(0 3px 4px rgba(0,0,0, .05));
        background: #fff;
        overflow: hidden;
        
        a {
          color: #2950a7;
        }
        
        .views-exposed-widget {
          float: none;
          padding: 12px 22px 5px;
          @include clearfix;
        }
        .form-item-sort-bef-combine {
          
          label {
            display:none;
          }
          .form-type-bef-link {
            float: left;
            padding-right: 9px;
            
            a {
              color: #2950a7;
            }
            &.selected a {
              color: #000;
            }
          }
        }        
        
        .view-header {
          height: 50px;
          line-height: 50px;
          background-color: #2950a7;
          background-image: url("../images/ico-50x50.png");
          background-repeat: no-repeat;
          background-position: 100% -100px;
          line-height: 50px;
          margin: 0;
          padding: 0;
          color: #fff;
          font-size: 18px;
          font-weight: normal;
          padding-left: 22px;
          font-family: 'Roboto', Arial;
          border-bottom: 3px solid #20469b;
        }
        .view-footer {
          padding: 8px 22px;
          text-align: right;
          @include background-image(linear-gradient(#f3f6f8, #fff));
        }
        .views-row {
          height: 100px;
          overflow: hidden;
          @include background-image(linear-gradient(#f3f6f8, #fff));
          padding: 12px 22px;   
          font-family: 'PT Sans', Arial;
          
          span.created,
          span.realname {
            font-size: 12px;
            color: #87919b;
          }
          span.created:after {
            content: ',';
            margin-right: 5px;
          }
          span.ico {
            float: left;
            margin: 4px 13px 13px 0;
            width: 50px;
            height: 50px;   
            
            &.ico-idea {
              background: url("../images/ico-idea.png") no-repeat;
            }
            &.ico-forum {
              background: url("../images/ico-forum.png") no-repeat;
            }
          }
          .comments {
            float: left;
            padding: 0 7px 0 19px;
            color: #87919b;
            font-size: 12px;
            background: url("../images/ico-comments-16x15.png") no-repeat 0 2px;
            margin: 0;
          }
          .conten-wrapper {
            display: table;
          }
          .title {
            font-size: 16px;
            line-height: 20px;
            color: #2950a7;
            padding-bottom: 3px;
          }
          .fivestar-average-stars {
            float: left;
            
            .description {
              display: none;
            }
          }
        }
      }
      &.pane-idea .view {
        .view-header {
          background-color: #e8c050;
          border-color: #b4a84a;
          background-position: 100% -50px;
        }        
      }
      &.pane-blogs .view {
        .view-header {
          background-color: #d288aa;
          border-color: #a3779d;
          background-position: 100% -100px;
        }        
      }
      &.pane-forums .view {
        .view-header {
          background-color: #6dbeb9;
          border-color: #54a6ac;
          background-position: 100% -150px;
        }        
      }
    }
  }
} 

/**
 * about
 */
.section-about {
  h1#page-title {
    padding-right: 70px;
  }
  
  #content-wrapper {
    background: #FFF;
    @include border-radius(4px);
    padding: 1px 3em 2em;
    margin-top: -264px;    
    position: relative;
  } 
  .view-mode-full .field-name-field-body {
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 20px;
      
      &.grey {
        color: #4c4c4c;
      }
    }
    ul {
      margin: 0 0 25px;
      
      li {
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 20px;        
        padding: 0 0 0 75px;
        background: url("../images/arr-about.png") no-repeat 5px 13px;
        color: #4c4c4c;
      }
    }
    img {
      float: left;
      margin: 0 20px 0 0;
    }
  }
}

/**
 * passport
 */
.node-type-opendata-meta {
  h1#page-title {
    padding-right: 70px;
  }
  
  #content-wrapper {
    background: #FFF;
    @include border-radius(4px);
    padding: 1em 3em 2em;
    margin-top: -264px;    
    position: relative;
  }
  .pane-dataset-filetype {
    position: absolute;
    top: 20px;
    right: 3em;
    top: 2em;
    background: none repeat scroll 0 0 #6DBEB9;
    @include border-radius(4px);
    font-size: 12px;
    padding: 0.15em 0.75em;
    text-transform: uppercase;
  }
  .pane-dataset-descr {
    float: left;
    width: 100%;
    margin-right: -215px;
    font-size:14px;
    line-height: 20px;
    
    .field {
      margin-right: 215px;
    }
  }
  .pane-dataset-detail {
    float: right; 
  }
  .pane-dataset-upload {
    float: right;
    padding-left: 20px;    
  }
  .pane-data-info {
    clear: both;
  }
  .panel-pane {
    padding-bottom: 5px;
  }
  .field-label {
    font-weight: normal;
  } 
  h3,
  .pane-title {
    font-family: 'Roboto', Arial;
    font-size: 15px;
    text-transform:uppercase;
    line-height: 18px;
    margin: 0;
    padding: 30px 0 10px;
    font-weight: normal;
  }  
  .data-url-list {
    
    .view-content {
      border-top: 1px solid #dedede;
      padding-bottom: 20px;
      
      > div {
        overflow: hidden;
        padding: 8px 0;
        clear: both;
        border-bottom: 1px solid #dedede;
      }
      .data-url {
        float: left;
        width: 100%;
        margin-right: -215px;
        
        .data-url-wrapper {
          padding: 13px 10px 11px 30px;
          margin-right: 215px;
          background: url("../images/ico-list-url.png") no-repeat 0 12px;
        }
      }
      .version-list-details {
        float: right;
        
      }
      .download-button {
        float: right;
        margin-left: 20px;
      }
    } 
  }
  .data-char-list {
    margin-bottom: 20px;
    
    .head {
      display:table;
      width: 100%;
      border-bottom: 3px solid #81919a;
      @include border-radius(3px 3px 0 0);
      background-color: #a6a6a6;
      color: #fff;
      height: 50px;
      
      .col-1,
      .col-2 {
        border: 0;
      }
    }
    .row {
      display:table;
      width: 100%;
      background-color: #f7f9fa;
      height: 50px;      
    }
    .col-1,
    .col-2 {
      display: table-cell;
      vertical-align: middle;
      padding: 12px 20px;
      width: 50%;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    } 
    .col-2 {
      border-left: 0;
      
      a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 228px;
      }
    }
  }
  .pane-node-comments {
    h2.pane-title {
      background-color: #e8c050;
      background-image: url("../images/ico-50x50.png");
      background-position: 100% -399px;
      background-repeat: no-repeat;    
      border-bottom: 3px solid #b4a84a;
      @include border-radius(4px 4px 0 0);
      color: #FFFFFF;
      font-family: 'Roboto',Arial;
      font-size: 18px;
      font-weight: normal;
      height: 50px;
      line-height: 50px;
      margin: 0;
      padding: 0 0 0 22px;    
    }    
    .add-comment {
      text-align: right;
    }
    /* comments */
    .views-row {
      padding: 20px 22px;
      line-height: 20px;

      .views-field-picture {
        img {
          float: left;
          margin-right: 18px;
        }
      }
      .views-field-created,
      .views-field-realname {
        display: inline-block;
        color: #87919b;
        font-size: 12px;
        margin-top: -3px;
      }
      .views-field-created:after {
        content: ',';
      }
      .views-field-comment-body  {
        margin-left: 68px;
      }
      .views-field-field-meta-rating {
        margin-left: 68px;
        padding-top: 5px;
      }
    }    
  }
}



.version-list-details,
.details-button {
  height: 41px;
  line-height: 39px;
  @include border-radius(3px);
  background: #f4f7f9;
  border: 1px solid #929292;
  padding: 0 16px;
  color: #929292;
  display: inline-block;
  font-size: 14px;
}
.download-button {
  display: inline-block;

  a {
    height: 41px;
    line-height: 39px;
    font-size: 14px;
    @include border-radius(3px);
    background: #f4f7f9;
    padding: 0 16px 0 37px;
    display: inline-block;  
    @include box-shadow(1px 1px 1px rgba(255,255,255, .5) inset);
    background-color: #53bce9; /* Old browsers */
    @include background-image(linear-gradient(#53bce9,#218fd5)); /* W3C */
    border: 1px solid #22769c;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;  
    position: relative;
    
    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      background: url("../images/ico-50x50.png") no-repeat -6px -302px; 
    }
  }
} 


/**
 * region-bottom
 */
.region-bottom {
  margin: -84px auto 0; 
  position: relative;
  background: #4790c8;
  color: #fff;
  
  .bottom-inner {
    height: 84px;
  }
  
  #bottom--logo {
    float: left;
    padding: 23px 0 0 15px;
    
    img {
      width: 45px;
    }
  }
  .bottom--name-and-slogan {
    color: #fff;
    font-family: 'Roboto', Arial;
    text-transform: uppercase;
    float: left;
    padding-top: 32px;
    padding-left: 10px;
    
    .bottom--site-name {
      font-size: 18px;
      line-height: 15px;
      margin: 0;
      padding: 0;
      /* font-weight: normal; */
      
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .bottom--site-slogan  {
      font-size: 10px;
      margin: 0;
      padding: 0;
      line-height: 1.1;
    }
  }
  .block {
    margin-bottom: 0;
  }
  .copyright {
    float: left;
    padding-left: 30px;
    padding-top: 20px;
  }
  #block-menu-menu-footer-menu {
    float: right;
    padding: 35px 20px 0 0;
    
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin-left: 38px;
      padding: 0;
      list-style: none;
      float: left;
      
     a {
      font-size: 14px;
      color: #fff;
     }
    }
  }
}

/**
 * custom display: none
 */
#joyride-tips-content {
  display: none;
}
 
/**
 * pager
 */
.item-list {
  clear: both;  
  
}
 .pager {
  text-align: center;
  float: none;
  
  li {
    display: inline-block;
    height: 30px;
    line-height: 30px;    
    margin: 0;
    font-size: 14px;
    font-weight: normal;   
    padding: 0;    
    
    a {
      text-decoration: none;
      background: url("../images/pager.png") repeat-x 0 -30px;
      display: block;
      height: 30px;
      line-height: 29px;
      padding: 0 10px;
      color: #fff;
      margin: 0 -2px;
    }    
    &.pager-current {
      color: #000;
      padding: 0 8px;
    } 
    &.pager-next {
      a {
        position: relative;
        padding: 0 15px;
        
        &:before {
          position: absolute;
          content: '';
          top: 0;
          right: -10px;
          width: 10px;
          height: 30px;
          background: url("../images/pager.png") no-repeat -20px -60px;
        }
      }
    }
    &.pager-previous {
      a {
        position: relative;
        padding: 0 15px;
        
        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: -10px;
          width: 10px;
          height: 30px;
          background: url("../images/pager.png") no-repeat 0 0;
        }
      }
    }
    &.pager-first,
    &.pager-last  {
      border-color: #d8d6d6;
      display: none;
      
      a {
        color: #000;
      }
    } 
  } 
}

/**
 * primary
 */
.primary {
  @include clearfix;
  
  li {
    margin: 0;
    padding: 0 10px 0 0;
    float: left;
    
    a {
      display: block;
      @include border-radius(3px 3px 0 0);
      @include box-shadow(1px 1px 1px rgba(255,255,255, .5) inset);
      /* background-color: #53bce9; Old browsers */
      @include background-image(linear-gradient(#53bce9,#218fd5)); /* W3C */
      border: 1px solid #22769c;
      color: #FFFFFF;
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      height: 25px;
      line-height: 24px;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
      padding: 0 10px;      
    }
    &.is-active a {
      @include background-image(linear-gradient(#f3f1f2,#ccc)); /* W3C */
      border-color: #ccc;
      color: #000;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}

/**
 * Modal window
 */
#modalContent{
  
  
  div.modal-forms-modal-content {
    font-family: 'PT Sans', Arial;
    
    .modal-header {
      @include background-image(linear-gradient(#53bce9,#218fd5));
      padding-top: 14px;
      padding-bottom: 14px;
      
      .modal-title {
        font-size: 20px;
        line-height: 17px;
        font-weight: normal;
        color: #fff;
      }
    }
    .modal-content {
      width: 100% !important;
    }
    .popups-close {
      float: right;
      cursor: pointer;
      background: url(../images/icon-close.png) 0 0 no-repeat;
      width: 12px;
      height: 12px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;      
    }
    #user-login {
      padding-top: 10px;
    }
    .form-text {
      width: 100%;
    }
    .description {
      color: #909090;
    }
    .form-actions {
      text-align: right;
      
      .form-submit {
        margin-right: 0;
      }
    }
  } 
}

/**
 * Page underconstruction
 */
.section-under-construction {
  background-color: #539ace;
  
  #header:after {
    content: '';
    position: absolute;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 380px;
    /* background-color: rgba(0,0,119, .1); */
    background-image: url("../images/frame-header-gradient.png");
    background-repeat: repeat-x;
    background-position: 0 100%;/*  */
  }
  
  #main,
  #region-bottom,
  #block-menu-menu-secondary-menu {
    display: none;
  }
  
  #block-block-7 {
    bottom: auto;
    top: 441px;
  }
  #block-block-11 {
    position: absolute;
    left: 116px;
    right: 174px;
    top: 88px;
    font-family: 'Roboto', Arial;
    height: 75px;
    line-height: 75px;
    @include border-radius(5px);
    background-color: rgba(0,0,119, .3);
    text-transform: uppercase;
    font-size: 29px;
    padding-left: 305px;
    color: #fff;
  }
  #block-block-6 {
    right: 100px;
  }
  .region-header .block#block-block-7 {
    left: 421px;
  }
}
