/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
$zen-gutter-width:  20px;

// If you need IE6/7 support for box-sizing: border-box (default), see _base.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }
  #navigation {
    display: none;
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;
  }
}

} // End of @if $zen-reverse-all-floats == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (max-width: 800px) and (min-width: 100px)  {

  $zen-column-count: 3;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
  
  /* mobile screen */
  .region-header {
    
    #logo {
      margin-top: -3px;
      padding-right: 11px;
      width: 51px;
    }
    #name-and-slogan a {
      font-size: 20px;
    }  
    #name-and-slogan {
      margin-top: -4px;
      padding-top: 7px;
    }
    .pane-system-main-menu {
      clear: left;
      padding-left: 15px;
      padding-top: 5px;
    }
    .pane-system-user-menu {
      position: absolute;
      top: 47px;
      right: 10px;
      
      > ul li a[href$="/user/login"] {
        text-indent: -10000px;
        overflow: hidden;
        padding-left: 34px;
      }
    } 
    
    .region-header .pane-locale-language {
      position: absolute;
      right: auto;
      top: 2px;
      
      ul li a {
        font-size: 11px;
      }
    }
    .pane-system-main-menu ul li a,
    .pane-system-user-menu > ul li a  {
      font-size: .8em;
    }  
    .pane-system-main-menu ul li {
      width: auto;
    }
  }
  .region-orange .pane-dataset-datasets-total-count {
    h2 {
      font-size: 17px;
      padding: 1.2% 10px 3px 10px;
      text-align: center;
      float: none;
    }  
    .view {
      font-size: 13px;
      padding: 1.1% 10px 0.8% 10px;    
      text-align: center;
      float: none;      
      
      &:after {
          background: url("../images/arr-orange-left.png") no-repeat scroll 0 0 transparent;
          content: "";
          height: 22px;
          left: -50%;
          margin-top: 0;
          margin-left: -8px;
          position: absolute;
          top: -16px;
          width: 16px;
          @include transform(rotate(90deg));
      }      
      
      span {
        font-size: 20px;
      }
    }
  }
  .view-quick-facts {
    padding-top: 115px;
    padding-bottom: 24%;
    
    .view-content > div { 
      
      .views-field {
        
        &.views-field-field-fact-value .field-content,
        &.views-field-field-fact-percentage .field-content {
          width: 45px;
          height: 45px;
          border: 4px solid #ffa200;
          line-height: 45px;
          font-size: 19px;
        }
        &.views-field-body {
          font-size: 13px;
          line-height: 14px;
          width: 130px;
          text-transform: uppercase;
          padding-left: 10px;
          
          p {
            margin: 0;
          }
        }
        &.views-field-field-fact-url {
          .field-content {
            width: 48px;
            height: 48px;   
            position:relative;  
            
            a {
              display: block;
              width: 48px;
              height: 48px;
              text-indent: -10000px;
              overflow: hidden;
              margin-left: 20px;
              background: url("../images/ico-search-small-set.png") no-repeat;
              
              &:hover {
                background-position: 0 -48px;
              }
            }          
          }
        } 
      }
    }
    .views-row {
      top: -20px;
      
      /* Every other three fast facts, starting from the first */
      &:nth-child(3n+1) {
        @include transform(translate(5%,10%));
      }
      &.next:nth-child(3n+1) {
        @include transform(translate(7%,10%));
      }  
      /* Every other three fast facts, starting from the second */
      &:nth-child(3n+2) {
        @include transform(translate(7%,15%));
      }
      &.next:nth-child(3n+2) {
        @include transform(translate(9%,15%));
      }
      /* Every other three fast facts, starting from the first */
      &:nth-child(3n+3) {
        @include transform(translate(10%,5%));
      }
      &.next:nth-child(3n+3) {
        @include transform(translate(12%,5%));
      }    
    }    
  }
  .pane-gb-search-pane {
    padding: 12px 0 20px;
  }
  .pane-gb-search-pane .form-item-field-select .form-type-radio label {
    font-size: 12px;
    height: 21px;
    line-height: 20px;
    padding: 0 12px;
  }  
  .pane-gb-search-pane .form-item-field-select .form-type-radio {
    margin-right: 10px;
  }  
  .panels-flexible-region-4-region_main_content {
    width: 100%;
  }
  .not-front .region-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pane-gb-search-pane {
    margin-left: 10px;
    margin-right: 10px;
    
    .form-text {
      font-size: 18px;
      line-height: 18px;
    }
    .form-submit {
      background-size: cover;
      height: 50px;
      top: -8px;
      width: 48px;
    }    
  }
  .pane-rubrics-rubrics-front  {
    margin-left: 10px;
    margin-right: 10px;
    
    .title {
      font-size: 18px;
      line-height: 23px;
      padding: 0 0;
    } 
    .views-row {
      width: 50%;
      
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
      
      .taxonomy-term {
      
        .content img {
          margin-bottom: 0;
        }      
        h2 {
          font-size: 13px;
          line-height: 26px;
          
          a {
            padding-top: 52%;
          }
        }
      }      
    }
  }    
}

/**
 * Use 5 grid columns for larger screens.
 */
/**
 * iPad (maxWidth 768px)
 */
@media all and (max-width: 1025px) and (min-width: 801px) {

  $zen-column-count: 5;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(4, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }
  
  /* IPad screen */
  .region-header {
    #name-and-slogan a {
      font-size: 23px;
    }    
    .pane-system-main-menu {
      clear: left;
      padding-left: 124px;
      margin-top: -23px;
      padding-top: 15px;
    }
    .pane-system-user-menu {
      padding-top: 15px;
      margin-top: -73px;
    }  
    .pane-system-main-menu ul li a,
    .pane-system-user-menu > ul li a  {
      font-size: .9em;
    }    
  }
  .region-orange .pane-dataset-datasets-total-count {
    h2 {
      font-size: 17px;
      padding: 1.1% 15px 1% 21px;
    }  
    .view {
      font-size: 17px;
      padding: 1.1% 21px 0.8% 28px;     
      
      span {
        font-size: 30px;
      }
    }
  }
  .panels-flexible-region-4-region_main_content {
    width: 100%;
  }
  .not-front .region-content {
    padding-left: 21px;
    padding-right: 21px;
  }
  .pane-gb-search-pane {
    margin-left: 21px;
    margin-right: 21px;
    padding-left: 0;
    padding-right: 0;
    
    .form-text {
      font-size: 18px;
      line-height: 18px;
    }
    .form-submit {
      background-size: cover;
      height: 70px;
      top: -8px;
      width: 67px;
    }    
  }
  .pane-rubrics-rubrics-front  {
    margin-left: 21px;
    margin-right: 21px;
    
    .title {
      font-size: 18px;
      line-height: 23px;
      padding: 0 0;
    } 
    .views-row .taxonomy-term {
      .content img {
        margin-bottom: 0;
      }      
      h2 {
        font-size: 21px;
        line-height: 26px;
        
        a {
          padding-top: 52%;
        }
      }
    }
  }
}

/**
 * addaptive facts
 */
@media all and (max-width: 1200px) and (min-width: 801px) {
  .view-quick-facts {
    padding-top: 115px;
    padding-bottom: 20%;
    
    .view-content > div { 
      
      .views-field {
        
        &.views-field-field-fact-value .field-content,
        &.views-field-field-fact-percentage .field-content {
          width: 70px;
          height: 70px;
          border: 7px solid #ffa200;
          line-height: 70px;
          font-size: 25px;
        }
        &.views-field-body {
          font-size: 18px;
          line-height: 20px;
          width: 400px;
          text-transform: uppercase;
          padding-left: 10px;
          
          p {
            margin: 0;
          }
        }
        &.views-field-field-fact-url {
          .field-content {
            width: 48px;
            height: 48px;   
            position:relative;  
            
            a {
              display: block;
              width: 48px;
              height: 48px;
              text-indent: -10000px;
              overflow: hidden;
              margin-left: 20px;
              background: url("../images/ico-search-small-set.png") no-repeat;
              
              &:hover {
                background-position: 0 -48px;
              }
            }          
          }
        } 
      }
    }
    .views-row {
      top: -5px;
      
      /* Every other three fast facts, starting from the first */
      &:nth-child(3n+1) {
        @include transform(translate(5%,15%));
      }
      &.next:nth-child(3n+1) {
        @include transform(translate(7%,15%));
      }  
      /* Every other three fast facts, starting from the second */
      &:nth-child(3n+2) {
        @include transform(translate(9%,20%));
      }
      &.next:nth-child(3n+2) {
        @include transform(translate(11%,20%));
      }
      /* Every other three fast facts, starting from the first */
      &:nth-child(3n+3) {
        @include transform(translate(13%,25%));
      }
      &.next:nth-child(3n+3) {
        @include transform(translate(15%,25%));
      }    
    }    
  }  
} 
